<<<<<<< HEAD
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#1b1b1b;
    color:white;
    text-align:center;
}

/* ENCABEZADO */
header{
    background:linear-gradient(90deg,#d32f2f,#ff9800);
    padding:25px;
}

h1{
    margin:0;
}

/* MENU GENERAL */
.menu{
    width:100%;
    margin:30px auto;
}


/* BOTONES */
button{
    background:#ff9800;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#e68900;
}


/* TARJETAS GENERALES */
.tarjeta{
    width:300px;
    margin:30px auto;
    padding:20px;
    text-align:center;
    background:white;
    color:black;
    border-radius:15px;
}


/* BOTON VOLVER / PEDIR */
.boton-pedir{
    display:inline-block;
    background:#d35400;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:10px;
    transition:.3s;
}

.boton-pedir:hover{
    background:#ff9800;
    transform:scale(1.05);
}


/* CATEGORIAS */
.categoria{
    width:100%;
    margin:40px auto;
}


.categoria-titulo{
    background:white;
    color:black;
    width:320px;
    margin:30px auto;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.3);
    transition:.3s;
    cursor:pointer;
}


.categoria-titulo img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    display:block;
    margin:0 auto 15px;
}


.categoria-titulo:hover{
    background:#fff8e1;
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.5);
}


.categoria-titulo h2{
    color:#d35400;
}


/* CONTENEDOR DE CATEGORIAS */
.contenedor-categorias{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}


/* ROLLS */
.contenedor-rolls{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
    width:100%;
    box-sizing:border-box;
    margin:0 auto;

}


.roll{
    width:220px;
    margin:10px;
    padding:20px;
    text-align:center;
    box-sizing:border-box;
    border:4px solid red !important;
    border-radius:15px !important;
}


.roll:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.4);
}


.roll img{
    width:100%;
    height:250px;
    object-fit:contain;
    background:white;
    border-radius:10px;
    display:block;
}


.roll h3{
    color:#d32f2f;
}


.precio{
    font-size:20px;
    font-weight:bold;
    color:#d32f2f;
}


/* OCULTAR Y MOSTRAR */
.oculto{
    display:none;
}


.mostrar{
    display:flex;
=======
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#1b1b1b;
    color:white;
    text-align:center;
}

/* ENCABEZADO */
header{
    background:linear-gradient(90deg,#d32f2f,#ff9800);
    padding:25px;
}

h1{
    margin:0;
}

/* MENU GENERAL */
.menu{
    width:100%;
    margin:30px auto;
}


/* BOTONES */
button{
    background:#ff9800;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#e68900;
}


/* TARJETAS GENERALES */
.tarjeta{
    width:300px;
    margin:30px auto;
    padding:20px;
    text-align:center;
    background:white;
    color:black;
    border-radius:15px;
}


/* BOTON VOLVER / PEDIR */
.boton-pedir{
    display:inline-block;
    background:#d35400;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:10px;
    transition:.3s;
}

.boton-pedir:hover{
    background:#ff9800;
    transform:scale(1.05);
}


/* CATEGORIAS */
.categoria{
    width:100%;
    margin:40px auto;
}


.categoria-titulo{
    background:white;
    color:black;
    width:320px;
    margin:30px auto;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.3);
    transition:.3s;
    cursor:pointer;
}


.categoria-titulo img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    display:block;
    margin:0 auto 15px;
}


.categoria-titulo:hover{
    background:#fff8e1;
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.5);
}


.categoria-titulo h2{
    color:#d35400;
}


/* CONTENEDOR DE CATEGORIAS */
.contenedor-categorias{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}


/* ROLLS */
.contenedor-rolls{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
    width:100%;
    box-sizing:border-box;
    margin:0 auto;

}


.roll{
    width:220px;
    margin:10px;
    padding:20px;
    text-align:center;
    box-sizing:border-box;
    border:4px solid red !important;
    border-radius:15px !important;
}


.roll:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.4);
}


.roll img{
    width:100%;
    height:250px;
    object-fit:contain;
    background:white;
    border-radius:10px;
    display:block;
}


.roll h3{
    color:#d32f2f;
}


.precio{
    font-size:20px;
    font-weight:bold;
    color:#d32f2f;
}
.tabla{
    background:white;
    color:#222;
    width:90%;
    max-width:600px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    box-sizing:border-box;
}

.tabla h3{
    color:#d32f2f;
    margin-top:0;
    font-size:22px;
}

.tabla p{
    font-size:16px;
    line-height:1.5;
    margin:10px 0;
}

/* OCULTAR Y MOSTRAR */
.oculto{
    display:none;
}


.mostrar{
    display:flex;
>>>>>>> origin/main
}